%h1 Listado de <%%= plural_table_name.humanize %>

%table<%= '.table.table-stripped' if options.bootstrap? %>
  %thead
    %tr
    <%%- attributes.each do |attribute| -%>
      %th <%%= attribute.human_name %>
    <%%- end -%>
      %th
      %th
      %th

  %tbody
  - @<%%= plural_table_name %>.each do |<%%= singular_table_name %>| 
    %tr
    <%%- attributes.each do |attribute| -%>
      %td= <%%= singular_table_name %>.<%%= attribute.name %>
    <%%- end -%>
      %td<%= show_link %>
      %td<%= edit_link %>
      %td<%= destroy_link %>

%br
<%% if singular_table_name.split('_').first =~ /[ad]$/ -%>
= link_to t('.new', <%%= key_value :default, "t('helpers.links.f_new')" %>, <%%= key_value(:model, "'#{human_name}'") %>), new_<%%= singular_table_name %>_path 
<%% else %>
= link_to t('.new', <%%= key_value :default, "t('helpers.links.new')" %>, <%%= key_value(:model, "'#{human_name}'") %>), new_<%%= singular_table_name %>_path
<%% end %>

