%h1 Listado de <%%= plural_table_name.humanize %>

%table
  %thead
    %tr
    <%%- attributes.each do |attribute| -%>
      %th <%%= attribute.human_name %>
    <%%- end -%>
      %th
      %th
      %th

  %tbody
  - @<%%= plural_table_name %>.each do |<%%= singular_table_name %>| 
    %tr
    <%%- attributes.each do |attribute| -%>
      %td= <%%= singular_table_name %>.<%%= attribute.name %>
    <%%- end -%>
    <%%- if options.cancan? -%>
      %td= link_to 'Mostrar', <%%= singular_table_name %> if can? :read, @<%%= singular_table_name %>
      %td= link_to 'Editar', edit_<%%= singular_table_name %>_path(<%%= singular_table_name %>) if can? :update, @<%%= singular_table_name %>
      %td= link_to 'Eliminar', <%%= singular_table_name %>, :confirm => '¿Está usted seguro?', :method => :delete if can? :destroy, @<%%= singular_table_name %>
    <%%- else -%>
      %td= link_to 'Mostrar', <%%= singular_table_name %>
      %td= link_to 'Editar', edit_<%%= singular_table_name %>_path(<%%= singular_table_name %>)
      %td= link_to 'Eliminar', <%%= singular_table_name %>, :confirm => '¿Está usted seguro?', :method => :delete
    <%%- end -%>

%br
<%% nuevo = singular_table_name.split('_').first.ends_with?("a") ? 'Nueva' : 'Nuevo' -%>
= link_to '<%%= nuevo %> <%%= human_name %>', new_<%%= singular_table_name %>_path
