<h1>Listado de <%%= plural_table_name.humanize %></h1>

<table<%= ' class="table table-stripped"' if options.bootstrap? %>>
  <thead>
    <tr>
<%% attributes.each do |attribute| -%>
      <th><%%= attribute.human_name %></th>
<%% end -%>
<%- if options.bootstrap? -%>
      <th><%%= t('.options', <%= key_value(:default, "'helpers.options'") %>) %></th>
<%- else -%>
      <th></th>
      <th></th>
      <th></th>
<%- end -%>
    </tr>
  </thead>

  <tbody>
  <%%% @<%%= plural_table_name %>.each do |<%%= singular_table_name %>| %>
    <tr>
<%% attributes.each do |attribute| -%>
      <td><%%%= <%%= singular_table_name %>.<%%= attribute.name %> %></td>
<%% end -%>
<%- if options.bootstrap? -%>
      <td>
        <%= show_link %>
        <%= edit_link %>
        <%= destroy_link %>
      </td>
<%- else -%>
      <td><%= show_link %></td>
      <td><%= edit_link %></td>
      <td><%= destroy_link %></td>
<%- end -%>
    </tr>
  <%%% end %>
  </tbody>
</table>

<br />
<%= new_link %>
